NEXT_PUBLIC_APPWRITE_ENDPOINT=
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
NEXT_PUBLIC_APPWRITE_DATABASE_ID=
NEXT_PUBLIC_APPWRITE_USERS_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_FARMERS_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_BUYERS_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_PRODUCE_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_DEMANDS_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_MATCHES_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_ORDERS_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_PRICE_HISTORY_COLLECTION_ID=